header, footer, aside, footer, main, article{
    border: 0.5px solid;
}

body{
    background-color: grey;
    display: grid;
    grid-template-areas:
    "head head head nav"
    "aside article main main"
    "footer footer footer footer"
}

.class{
    grid-area: head;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}


.class2{
    grid-area: nav;
    background-color: rgba(255, 255, 0, 0.616);
    padding: 20px;

   display: grid;
   grid-template-rows: ;
   text-align: center;

}

.class3{
    grid-area: aside;
    padding: 10px;
}

.class4{
    grid-area: main;
    padding: 10px;
}

.class5{
    grid-area: article;
    padding: 10px;
}

.class6{
    grid-area: footer;
    padding: 10px;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div{
    border: 0.5px solid;
    margin: 20px;
    padding: 20px;
}
